<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="../static/bootstrap/js/jquery-3.2.1.min.js" ></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" ></script>
      <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" type="text/css">

 <link rel="stylesheet" href="../static/css/main.css" media='all' type="text/css">


  </head>
  <body >

    {% block main %}{% endblock %}


  </body>
</html>